<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ApplicationConnectionString" connectionString="Server=LAPTOP-1MM4UVCE\SQLEXPRESS;Database=ISyncContactdB;Trusted_Connection=true;MultipleActiveResultSets=true;" />
    <add name="ISyncAssessmentContactApplication.Properties.Settings.ISyncContactdBConnectionString"
      connectionString="Data Source=LAPTOP-1MM4UVCE\SQLEXPRESS;Initial Catalog=ISyncContactdB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>